body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #343a40;
    padding: 5px;
  }
  
  button {
    border: none;
    color: #fff;
    padding: 7px 13px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
  }
  .edit{
    background-color: #ffc107;
  }
  .edit:hover{
    background-color: #fff;
    padding: 7px 13px;
    color: #ffc107;
    border: 2px solid #ffc107;
  }
  .remove{
    background-color: #dc3545;
  }
  .remove:hover{
    background-color: #fff;
    padding: 7px 13px;
    color: #dc3545;
    border: 2px solid #dc3545;
  }

  .add{
    background-color: #28a745;
    padding: 11px 33px;
  }
  .add:hover{
    background-color: #fff;
    padding: 9px 31px;
    color: #28a745;
    border: 2px solid #28a745;
  }
  input[type=checkbox]{
    accent-color:#28a745 ;
  }
p{
  text-align: center;
}


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  .app{
    width: 88%;
    justify-content: center;
    font-weight: bold;
  }